<div class="container-fluid">
        <section>
          <div class="row">
            <div class="col-lg-12 text-center">
              <h1>Segurança</h1>
            </div>
          </div>
        </section>
        <section>
          <div class="row">
            <div class="col-lg-2 col-lg-offset-5 text-center">
              <h1>&nbsp;</h1>
            </div>
          </div>
        </section>
        <div class="row fit">
          <div class="col-lg-3 col-lg-offset-2">
            <a href="https://goo.gl/tMtFha" target="blank">
                <div class="widget lazur-bg p-lg text-center" style="background:#0057c2">
                  <div class="m-b-md">
                    <i class="fa fa-pencil-square-o fa-5x"></i>
                    <h1 class="m-xs">Formulário</h1>
                    <h3 class="font-bold no-margins">
                        Formulário de segurança
                    </h3>
                    <br>
                  </div>
                </div>
              </a>
          </div>
          <div class="col-lg-3">
          <a href="https://goo.gl/eeDCcz" target="blank">
              <div class="widget navy-bg p-lg text-center">
                <div class="m-b-md">
                  <i class="fa fa-bar-chart fa-5x"></i>
                  <h1 class="m-xs">Patrimônio</h1>
                  <h3 class="font-bold no-margins">
                    Danos ao patrimônio
                  </h3>
                  <br>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3">
            <a href="https://goo.gl/EBj5qw" target="blank">
            <div class="widget p-lg text-center" style="background: #FF6C19; color: white;">
              <div class="m-b-md">
                <i class="fa fa-exclamation-triangle fa-5x"></i>
                <h1 class="m-xs">Materiais</h1>
                <h3 class="font-bold no-margins">
                    Apreensão de materiais
                </h3>
                <br>
              </div>
            </div>
          </a>
          </div>
        </div>
        <div class="row fit fitMobile">
          <div class="col-lg-3 col-lg-offset-2">
            <a href=" https://goo.gl/hHPtV7" target="blank">
              <div class="widget p-lg text-center" style="background:#f58914; color:white">
                <div class="m-b-md">
                  <i class="fa fa-user-plus fa-5x"></i>
                  <h1 class="m-xs">Ficha</h1>
                  <h3 class="font-bold no-margins">
                     Formulário sobre agressão
                  </h3>
                  <br>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3">
            <a href="https://goo.gl/vbNjMy" target="blank">
              <div class="widget p-lg text-center" style="background: #bf224a; color:white;">
                <div class="m-b-md">
                  <i class="fa fa-address-book-o fa-5x"></i>
                  <h1 class="m-xs">Evasão</h1>
                  <h3 class="font-bold no-margins">
                    Fuga Rebelião
                  </h3>
                  <br>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      