<div class="container-fluid">
  <div class="row fit fitMobile">
    <div class="col-lg-3 col-lg-offset-2">
      <a href="<%= visualizar_vagas_socioeduk_gestao_vagas_path %>">
        <div class="widget p-lg text-center" style="background:#f58914; color:white">
          <div class="m-b-md">
            <i class="fa fa-user-plus fa-5x"></i>
            <h1 class="m-xs">Gestão de Vagas</h1>
            <h3 class="font-bold no-margins">
              Controle de vagas
            </h3>
            <br>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3">
      <a href="<%= socioeduk_jovens_path %>">
        <div class="widget p-lg text-center" style="background: #bf224a; color:white;">
          <div class="m-b-md">
            <i class="far fa-address-book fa-5x"></i>
            <h1 class="m-xs">Recepção</h1>
            <h3 class="font-bold no-margins">
              Recepção de jovens
            </h3>
            <br>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3">
      <a href="<%= socioeduk_relatorio_diarios_path %>">
        <div class="widget p-lg text-center" style="background:#60be63; color:white">
          <div class="m-b-md">
            <i class="far fa-calendar-alt fa-5x"></i>
            <h1 class="m-xs">Síntese Diária</h1>
            <h3 class="font-bold no-margins">
              Cadastro síntese diária
            </h3>
            <br>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row fit fitMobile">
   <!--
   <div class="col-lg-3">
      <a href="<%= admin_usuarios_path %>">
        <div class="widget lazur-bg p-lg text-center">
          <div class="m-b-md">
            <i class="far fa-comment-alt fa-5x"></i>
            <h1 class="m-xs">Atendimento</h1>
            <h3 class="font-bold no-margins">
              Sistema de Atendimento Socioeducativo
            </h3>
            <br>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3">
      <a href="<%#= capacidades_diarias_path %>">
        <div class="widget p-lg text-center" style="background:#f58914; color:white; opacity:0.3;">
          <div class="m-b-md">
              <i class="fa fa-tags fa-5x"></i>
              <h1 class="m-xs">Serviços</h1>
              <h3 class="font-bold no-margins">
                Em breve
              </h3>
              <br>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3">
        <div class="widget p-lg text-center" style="background: #47692F; color:white; opacity:0.3;">
          <div class="m-b-md">
            <i class="fa fa-barcode fa-5x"></i>
            <h1 class="m-xs">Patrimônio</h1>
            <h3 class="font-bold no-margins">
              Em breve
            </h3>
            <br>
          </div>
        </div>
    </div>
    -->
  </div>
</div>