<div class="row">
  <div class="col-sm-4 col-offset-1">
    <%= f.label :doc_unico, class: "required" %>
    <%= f.file_field :doc_unico, class: "uniq_doc" %>
  </div>
</div>

<br>

<div class="row">
  <div class="col-sm-10">
    <%= f.label :doc_unico_array %>
    <%= f.select :doc_unico_array, (Socioeduk::SolicitacaoVaga.tipos_documentos.map {|k, v| [k.gsub('_', ' ').upcase, v]}), {}, {multiple: true, class: 'chosen-select', style: 'width: 1200px; display: none;'} %>
  </div>
</div>