<style>
  .titulo {
    color: #89908a;
  }
</style>

<h2 class="titulo">Solicitação Autorizada</h2>

<strong>Jovem:</strong>
<span><%= @jovem&.upcase %></span>

<br>

<strong>Medida:</strong>
<span><%= @medida_socioeducativa&.upcase %></span>