@media print {
    * {
        background:transparent !important;
        color:#000 !important;
        text-shadow:none !important;
        filter:none !important;
        -ms-filter:none !important;
    }
    
    body {
        margin:0;
        padding:0;
        line-height: 1.4em;
    }
    .excluir_da_impressao {
        display: none;
    }

    .ibox-content {
        padding: 0;
    }

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
        padding: 0;
        border: 0px
    }

    .ibox-content .box-loading-content{
        padding: 0;
    }

    .ibox .float-e-margins{
        padding: 0;
    }

    .ibox-content{
        border-style: none;
        font-size: 10px;
    }

    .footer{
        display: none;
    }

    .page-heading{
        display: none;
    }

    .ibox-content {
        padding: 0px 10px 10px 10px;
    }

    .ibox-title {
        display: none;
    }
    
    .search {
        display: none;
    }

    img {
        max-width: 100%;
    }

    a[href]:after {
        display: none;
        visibility: hidden;
    }

    a{
        font-size: 10px;
    }

    .painel{
        padding: 2px;
        border: 1px solid #e5e6e7;
        border-radius: 4px;
    }

    h3{
        font-size: 10px;
        font-weight: bold;
    }
    .print {
        display:block;
    }

    .no-print { 
        display:none; 
    }

    thead{
        font-size: 8px;
        font-weight: bold;
    }

    tbody{
        font-size: 8px;
    }

    .dados_pessoais{
        width: 100%;
        font-size: 18pt
    }

    .dados_pessoais div{
        text-transform: uppercase;
        font-size: 7pt
    }

    .text-left{
        float:left;
        padding: 0;
        border: 0px;
        margin-left: 5px;
    }
    .text-right{
        float:left;
        padding: 0;
        border: 0px
    }
    .btn{
        background-color: #fff;
        margin: 0px;
        padding: 0px;
        margin-bottom: 0px;
        line-height: 1;
    }
    .btn-circle {
        width: 12px;
        height: 12px;
        padding: 0px;
        border-radius: 5px;
        text-align: center;
        font-size: 12px;
        line-height: 1;
    }
    .foto-jovem{
        height:78px;
        width:  63px;
    }
    .td_dados_plano_tr{
        height: 20px;
    }
    .td_dados_plano{
        width: 20%;
        padding-top: 0px;
    }
    
    .td_dados_plano_tr dt{
        margin-top: 5px;
    }
}