<div class="card">
  <div class="card-header">
    <%= t('.title', :default => [:"helpers.titles.#{params[:action]}"], :model => UnidadesMedida.model_name.human.capitalize) %>
  </div>
  <div class="card-body">
    <%= render partial: 'form', locals: { disable_with: 'Atualizando...' } %>
  </div>
</div>
