
  <%#= render_breadcrumbs builder: ::Bootstrap4BreadcrumbsBuilder, separator: '|' %>
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2><%= yield(:title) %></h2>
      <%= render_breadcrumbs :separator => ' / ' %>
    </div>
    <div class="col-lg-2">

    </div>
  </div>
