<div class="footer">
    <div class="pull-right">
        Suporte aos sistemas: (85) 3101-2060
    </div>
    <div>
        <strong>Governo do Estado do Ceará. </strong> Todos os direitos reservados &copy; 2017
    </div>
</div>
